<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ab.hicarerun"
    tools:ignore="GoogleAppIndexingWarning">
    <!-- <permission -->
    <!-- android:name="android.permission.CALL_PRIVILEGED" -->
    <!-- android:protectionLevel="signature|privileged" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> <!-- <uses-permission -->
    <!-- android:name="android.permission.RECEIVE_SMS" -->
    <!-- tools:node="remove" /> -->
    <!-- <uses-permission -->
    <!-- android:name="android.permission.CALL_PHONE" -->
    <!-- tools:node="remove" /> -->
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.OnSiteTaskActivity"></activity>
        <activity
            android:name=".activities.StartVideoActivity"
            android:configChanges="orientation|screenSize|layoutDirection" />
        <activity
            android:name=".activities.WelcomeVideoActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.NewTaskDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.VoucherActivity" />
        <activity android:name=".activities.AttendanceActivity" />
        <activity android:name=".activities.IncentivesActivity" /> <!-- <activity -->
        <!-- android:name="com.ab.hicarerun.activities.SplashActiviy" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data -->
        <!-- android:host="hicare" -->
        <!-- android:scheme="hicare-technician-app" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".activities.TechIdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GrommingGalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.TechnicianSeniorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TechnicianSeniorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.ExoplayerActivity" />
        <activity
            android:name=".activities.VerifyOtpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TrainingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HelpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".BaseApplication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActiviy"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TaskDetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:parentActivityName=".activities.HomeActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.ServiceLocationSend"
            android:enabled="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity android:name=".activities.AttachmentActivity" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" /> <!-- <receiver android:name=".utils.SMSListener"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name=".utils.SMSListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.HandShakeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.notifications.CallServiceAfterReboot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.ezetap.sdk.EzetapFileProvider"
            android:authorities="com.ezeapi.sample.EzetapFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name=".utils.DownloadFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/download_provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCUIlD8EdLLTp5VtyZl1ZOprbq_7az3zIM" />

        <provider
            android:name=".utils.ShareFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_path" />
        </provider>
    </application>

</manifest>